
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --color-primary: #00C4B4;
  --color-primary-hover: #00b3a3;
  --color-bg-light: #F0F4F8;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-light);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
